
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  ActiveQuote PMI
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="index" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="q2" method="post" novalidate>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="first-name-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                    Hi, to get started, can I have your first name? 
                </h1>
              </legend>
              <span id="first-name-hint" class="govuk-hint">
                Please provide your first name that will be used on your policy documentation.
              </span>
              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Help with providing details
                  </span>
                </summary>
                <div class="govuk-details__text">
                    We need your personal details so we can generate your quotes and create the policy documentation. Please provide us with your first name as this will be used on your policy documentation.
                </div>
              </details>
              <div class="govuk-form-group">
                <label class="govuk-label" for="first-name">
                    First name
                </label>
                <input class="govuk-input" id="first-name" name="first-name" type="text">
              </div>
            </fieldset>
          </div>

          <button type="submit" class="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}
